version: "3.8"
services:
  web:
    build: .
    container_name: AgileEnv
    ports:
      - "8000:8000"
    env_file:
      - ./app/.env
    volumes:
      - .:/app

    depends_on:
      - db
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres
      
  db:
    image: postgres:15
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata:
