services:
  api:
    build: .
    container_name: AgileEnv
    ports:
      - "8000:8000"
    env_file:
      - ./app/.env
    volumes:
      - .:/app

    depends_on:
    - db
    environment:
    DATABASE_URL: postgres://admin:admin123@db:5432/mydb
  
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: