#DATABASE
DB_CONNECTION=""
DB_HOST=""
DB_PORT=""
DB_DATABASE=""
DB_USERNAME=""
DB_PASSWORD=""

#JWT CONFIG
JWT_SECRET_KEY=""
JWT_ALGORITHM=""
JWT_ACCESS_TOKEN_EXPIRE_DAYS=""
JWT_REFRESH_TOKEN_EXPIRE_DAYS=""

# Email Configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASSWORD=your-app-password
SMTP_FROM=your-email@gmail.com

# Redis Configuration
REDIS_URL=redis://localhost:6379/0